* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --cor-fundo: rgba(255, 255, 255, 0.527);
  --cor-titulo: rgb(255, 136, 0);
  --fundo-baixo: black;
  --botao-services: rgb(66, 5, 122);
  --botao-maps: rgba(209, 110, 28, 0.781);
}
body {
  min-height: 100vh;
  width: 100%;
}
.container-principal {
  width: 100%;
  min-height: 100vh;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.topo,
.baixo {
  height: calc(100vh / 2);
  width: 100%;
}
.topo {
  background: var(--cor-fundo);
  box-shadow: 0 5px 10px rgba(201, 201, 201, 0.747);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topo .posicao-titulo,
.topo .posicao-botao {
  width: 100%;
  height: 50%;
}
.topo .posicao-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.titulo {
  color: var(--cor-titulo);
  text-shadow: 0 0 5px black;
}
.topo .posicao-titulo .titulo-baixo {
  position: absolute;
  top: 115px;
  right: 135px;
  font-size: 13px;
  font-weight: 900;
}
.topo .posicao-titulo .imagem-sol {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 25px;
  top: -10px;
}
.baixo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--fundo-baixo);
}
.baixo img {
  width: 100%;
  max-width: 1360px;
}
.container-carrossel {
  position: relative;
  width: 100%;
}
.gallery-wrapper {
  overflow-x: hidden;
}
.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
.arrow-right,
.arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 50px;
  line-height: 250px;
  text-align: center;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, black 200%);
  color: var(--cor-titulo);
  opacity: 0.2;
  z-index: 1000;
}
.arrow-right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}
.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
  transition: 1s;
}
.item {
  width: 100px;
  flex-shrink: 0;
  opacity: 0.5;
  transition: all 600ms ease-in-out;
}
.current-item {
  opacity: 1;
  box-shadow: 4px solid var(--cor-titulo);
}
.posicao-botao {
  position: relative;
}
.posicao-botao .telefones {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(30%, -20%);
  background-color: rgba(14, 13, 13, 0.726);
  width: 250px;
  height: 220px;
  border: 3px solid var(--cor-titulo);
  border-radius: 10px;
  display: none;
  transition: 0.3s;
}
.posicao-botao .telefones.active {
  display: block;
  transition: 0.3s;
}
.posicao-botao .botao {
  border-radius: 5px;
  border: none;
  position: absolute;
  cursor: pointer;
}

.posicao-botao .botao:nth-child(2) {
  left: 5px;
}
.posicao-botao .botao:nth-child(3) {
  top: 60px;
  left: 5px;
}
.posicao-botao .botao:nth-child(4) {
  top: 120px;
  left: 5px;
}
.posicao-botao .botao:nth-child(5) {
  right: 5px;
  background: var(--botao-services);
}
.posicao-botao .botao:nth-child(6) {
  top: 60px;
  right: 5px;
  background: var(--botao-maps);
}
.posicao-botao .botao img {
  width: 40px;
  height: 40px;
}
